<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>






<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="well well-sm"><gcse:search></gcse:search></div>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Donate <span class="sr-only">(current)</span></a></li>
        <li><a href="#">T.O.C.</a></li>
        <li><a href="#">Videos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="#">All Below</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Alluring Aura</a></li>
            <li><a href="#">Bright Beacon</a></li>
            <li><a href="#">Cosmic Concoction</a></li>
            <li><a href="#">Dim Dawn</a></li>
                <li><a href="#">Elemental Enchantment</a></li>
                  <li><a href="#">Frequent Form</a></li>
                    <li><a href="#">Golden Grove</a></li>
                      <li><a href="#">Hollow Hum</a></li>
                        <li><a href="#">Invisioning Impact</a></li>
                          <li><a href="#">Jades in Jungles</a></li>
                            <li><a href="#">Keen Kindness</a></li>
                              <li><a href="#">Lucid Levitation</a></li>
                                <li><a href="#">Mellow Mantra</a></li>
                                  <li><a href="#">Number Nine</a></li>
                                    <li><a href="#">Own my Omen</a></li>
                                      <li><a href="#">Polar Purge</a></li>
                                        <li><a href="#">Quantum Quake</a></li>
                                          <li><a href="#">Relaxing Rhythm</a></li>
                                            <li><a href="#">Sunshade Sensei</a></li>
                                              <li><a href="#">Thickening Transcendence</a></li>
                                                <li><a href="#">Usual Underdog</a></li>
                                                  <li><a href="#">Vivid Visions</a></li>
                                                    <li><a href="#">Wind on Water</a></li>
                                                      <li><a href="#">Extant Exception</a></li>
                                                        <li><a href="#">Yuletide Yogi</a></li>
                                                          <li><a href="#">Zen Zeal</a></li>
            
            
          </ul>
        </li>
        
      </ul>
     </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
          </body>
          </html>

        
      
   
</nav>